.canvas3d-container {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	background: #000;
}

.canvas3d-container canvas {
	width: 100%;
	height: 100%;
	display: block;
}
